.super-mario {
  width: 200px;
  display: block;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 50px;
}

.baloon {
position: absolute;
right: 750px;
top: 250px;
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 280px;
  left: 335px;
  z-index: 4;
}

.bowser {
  position: absolute;
  width: 200px;
  left: 580px;
}